body {
    color:white;
    background: black;
    margin: 0px;
    font-family: "chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border: solid 2px rgb rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228)
    
}

.chamada{
    background-color: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;
}



